body{
	margin: 0;
	background-color: #909497 ;
}
a:link{
	color: yellow;
}
a:visited{
	color: red;
}
a:active{
	color: green;
}
a:hover{
	background-color: black;
}
h1{
	color: hsl( 37, 81%, 27% );  
	text-align: center;
	font-size: 50px;
	font-family: 'Pacifico', cursive;
	text-shadow: 10px 5px 5px #e59866;
}
/*p:nth-child(2){
	background-color: orange;
}
p:nth-last-child(1){
	background-color: gray;
}
p:nth-of-type(even); solo los pares o (odd) impares
p:only-of-type
p:empty    La unica vacía
p:not(selector)
p:last-child
p:only-child
p:root
p:enable
p:disable
p:checked
p:nth-of-type(2){ /*first-of-type Elige la 1era del tipo de elemento o 
	last-of-type elige la ultima
	background-color: orange;
}*/
/*Pseudo elemento
.parrafo::first-line
.parrafo::first-letter
.parrafo::before     o after
*/
.parrafo::selection{
	/*content: url("imagen4.jpg");*/
	color: yellow;
	background-color: red;
	/*font-size: 3em;*/
}
.imagen{
	border-radius: 10px
}
.imagen2{
	border-radius: 10px
}
.titulo{
	margin: auto;
}
.responsive{
	height: auto;
	max-width: 100%;

}
.polaroid img{
	/*opacity: .5;*/
	/*filter: blur(3px); Hace que se vea borroso, desenfoca*/
	/*filter: brightness(1.5); Modifica la luz 1 es normal*/
	/*filter: contrast(3); Modifica el contraste 1 es normal*/
	/*filter: grayscale(1);*/
	/*filter: hue-rotate(180deg); Se usa con grados, el max es 360
								modifica la luz, el matiz y saturacion*/
	/*filter: invert(.1); Invierte los colores*/
	/*filter: saturate(5); Satura los colores*/
	filter: sepia(.2);
}
.polaroid img:hover{
	/*opacity: 1;*/
	filter: sepia(3); /*El 1 es el valor original*/
	/*cursor: wait, no-drop, text, pointer, help, move, progress,
			  crosshair, e-resize, n-resize, ne-resize, nw-resize, s-resize*/
	cursor: pointer;
}
div.polaroid{
	position: relative;
	background-color: white;
	width: 300px;
	/*opacity: .9; Va de 0.0 a 1.0*/
	padding: 10px;
	margin: auto;
	margin-bottom: 20px;
	margin-top: 10px;
	box-shadow: 5px 5px 10px rgba(0,0,0,.5);
	display: block;
	transition: transform .5s;
	transition-delay: .3s;
	animation: roll 4s infinite alternate;
	/*animation-name: skew;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-direction: alternate;/*reverse*/
	/*animation-timing-function: ease;/*linear,ease */
}
/*div.polaroid:hover{
	/*transform: translate(50px,50px); Se mueve en x y en y*/
	/*transform: translateX(50px); Solo se mueve en X y puede poner en Y*/
	/*transform: rotate(50deg); Gira en grados*/
	/*transform: scale(2,2); Aumenta o disminuye el tamaño*/
	/*transform: skew(20deg); Inclina la imagen
}*/
.texto{
	text-align: center;
	font-family: 'Indie Flower', cursive;
	font-size: 20px;
}
.imgText{
	position: absolute;
	top: 5px;
	left: 16px;
	font-size: 20px;
	color: white;
}
.cubo{
	width: 100px;
	height: 100px;
	background-color: red;
	transition: width 2s, height 2s, transform 4s;
	/*transition-timing-function: linear; Comienza y termina con la misma velocidad*/
	/*transition-timing-function: ease; Comienza lento, despues rapido y termina lento*/
	transition-timing-function: ease-in;/*Comienza lento y termina rapido y
											ease-out empieza rapido y termina lento*/
}
div.cubo:hover{
	width: 300px;
	height: 300px;
	transform: rotate(180deg);
	animation-name: ejemplo;
	animation-duration: 4s;
	animation-delay: .2s;
}
@keyframes ejemplo{
	0%{background-color: red}
	25%{background-color: green}
	50%{background-color: blue}
	100%{background-color: yellow}
}
@keyframes roll{
	0%{transform: rotate(0);}
	100%{transform: rotate(360deg);}
}
/*Es para que la pagina se vea bien en cualquier dispositivo*/
@media screen and (max-width: 480px){ /*Iphone 4*/
	body{
		background-color: red;
	}
	.cubo{
		display: none;
	}
}
@media screen and (min-width: 481px) and (max-width: 760px){
	/*phablets celulares mas grandes pero menos que una tableta*/
	body{
		background-color: green;
	}
	.imagen2{
		display: none;
	}
}
@media screen and (min-width: 761px){
	body{
		background-color: gray;
	}
	div.polaroid{
		display: inline-block;
		margin-left: 10%;
	}
}