body{
	background-image: url("imagen.jpg");
	background-repeat: no-repeat;
	/*background-repeat: repeat-x; Se repita la imagen en el eje x*/ 
	/*background-position: center top; En el centro arriba*/
	background-position: 50% 50%;
	background-attachment: fixed; /*Esto se usa para que no se mueva la imagen de fondo*/
	background-size: 100% 100%;
	/*background.size: 100px 100px;*/
	/*background-size: cover; Ajusta la imagen al tamaño del navegador o pantalla*/
	/*background-size: contain; Ajusta la imagen y le cambia el tamaño según el navegador*/

	background: linear-gradient( #fcc85e ,  #f7e2b8 ); /*Degradado de colores*/
	/*background: linear-gradient(to right ó 60deg, red,yellow,green);*/
	/*background: linear-gradient(-80deg,rgba(34, 124, 118 , 0),rgba( 34, 124, 118 ,1));*/
	/*background: repeating-linear-gradient(80deg, red 10%,yellow,blue 20%);*/
	/*background: repeating-radial-gradient(yellow 5%,cyan 10%,darkblue 15%);*/
	margin: 0;
}
.space{
	height: 200px;
}

h1{
	color: hsl( 37, 81%, 27% );  /*Colores en hsl  0->rojo, 120->verde, 240->azul 
					saturacion: 0% tono gris y 100% el color
					y luminosidad: 0% negro y 100% blanco*/
	text-align: center;
	border-top-style: dotted;
	border-left-style: dashed;
	border-left-color: blue;
	border-right-style: dashed;
	border-right-color: green;
	border-bottom: solid #008080 2px;
	font-size: 50px;
	font-family: 'Pacifico', cursive;
	text-shadow: 10px 5px 5px #e59866;
}
span p{
	font-size: 2em;
	/*white-space: normal /nowrap Lo escribe en una sola linea */
	/*white-space: pre; /*HAce los saltos de linea que estén en el parrafo*/
	/*white-space: pre-wrap; Se adapta al tamaño del navegador y funciona como el rap*/
	white-space: pre-line;
	word-spacing: 5px; /*Espacios entre cada palabra*/
	font-family: 'Indie Flower', cursive;
	text-align: center;
}
h2.parrafo{
	color:hsla( 37, 81%, 27%, 1 );
	height: 40px;
	/*border: solid/dotted/dashed #8B4513 10px;*/
	border: double #8B4513 8px;
}
h3{
	color:hsla( 37, 81%, 27%, 1 );
	text-align: center;
	border: solid #eee 10px;
	border-radius: 100%;
	margin: 5px;
}
span h2{
	color: hsl( 37, 81%, 27%, .8 );
	font-size: 25px;
}
a[href]{
	color: red;
	font-size: 30px;
	text-decoration: none;
}
a[href="ejemplo.com"]{
	color: blue;
	text-decoration: overline;
	text-transform: capitalize;
}
a[class="parrafo"]{
	color: black;
	text-decoration: line-through;
	text-transform: uppercase;
}
.parrafo{
	background-color: #f0a730 ;
	height: 20px;
	text-align: right;
}
.container{
	position: relative;
	border: 2px solid red;
	height: 400px;
	/*padding: 10px 5px 10px 5px;*/
	/*padding: 10px; Cada lado será de 10px*/
}
.imagen{
	position: absolute;
	margin: 10px;
	/*top: 30px;
	left: 20px; */
}
.titulo{
	margin: auto;
}
#colores > ul {
	background-color: rgba( 98, 208, 201 , .5);
	color: white;
	font-size: 2em;
}
#orange{
	color:hsl( 29, 98%, 45% ) !important;
	font-size: 1.3em; /*1 em son 16px*/
}
#green{
	color:  rgb(11,71,6);
	font-family: 'Indie Flower', cursive;
	font-size: 40px;
}
#red{
	color: red;
	font-family: Arial;
	font-style: italic;
}
