body{
	background-image: url("imagen.jpg");
	background-repeat: no-repeat;
	/*background-repeat: repeat-x;*/
	/*background-position: center top;*/
	background-position: 50% 50%;
	background-attachment: fixed; /*Esto se usa para que no se mueva la imagen de fondo*/
	background-size: 100% 100%;
	/*background.size: 100px 100px; */
	/*background-size: cover; Ajusta la imagen al tamaño del navegador o pantalla*/
	/*background-size: contain; Ajusta la imagen y le cambia el tamaño según el navegador*/
	background: linear-gradient(red,yellow); /*Hace de color rojo al amarillo y en el cambio pone colores parecidos*/
	/*background: linear-gradient(to right, red,yellow);*/
	background: linear-gradient(to right, red,white,green);*/
}
.space{
	height: 200px;
}

h1,p{
	color:blue;
	text-align: center;
}
h2.parrafo{
	color:white;
	height: 40px;
}
span h2{
	color: red;
	font-size: 30px;
}
a[href]{
	color: red;
}
a[href="ejemplo.com"]{
	color: blue;
}
a[class="parrafo"]{
	color: black;
}
.parrafo{
	background-color: green;
	height: 20px;
}
#colores > ul >li{
	background-color: blue;
	color: white;
	font-size: 2em;
}
#orange{
	color:orange !important;
}
#green{
	color: green;
}
#red{
	color: red;
}
