h1,p{
	color:blue;
	text-align: center;
}
.parrafo{
	background-color: green;
	height: 20px;
}
h2.parrafo{
	color:white;
	height: 40px;
}
span h2{
	color: red;
	font-size: 30px;
}
#colores{
	background-color: blue;
	color: white;
	font-size: 2em;
}
#orange{
	color:orange;
}
#green{
	color: green;
}
#red{
	color: red;
}